<section class="section has-background-link-light">
  <div id="top-panel" class="columns">
    <div class="column is-one-quarter has-text-link">
      <h1 class="title is-size-1">Book Club</h1>
{{# if session.user }}
  <p class="subtitle is-4">Hello {{session.user.userName}}</p>
  <form action='/sessions?_method=DELETE' method='POST'>
    <input class="button is-medium is-link" type="submit" value="Log Out">
  </form>
  <a href="/books/new"><button class="button is-medium is-link"><p>+ Add</p></button></a>
  {{else}}
  <a href="/sessions/new"><button class="button is-medium is-link"><p>Log in</p></button></a>
  <a href="/users/new"><button class="button is-medium is-link"><p>Sign up</p></button></a>
  {{/if}}
      
      <div>
      </div>
    </div>
    <div id="main-container" class="column is-three-quarters tile is-ancestor">
    </div>
  </div>
</section>
<br />
<section class="section">
  {{#each books}}
    <div id="main-panel" class="columns">
      <div d="book-image-current" class="title column is-one-quarter">
                <div
          id="book-cover"
          class="subtitle is-4"
        >{{this.bookCover}}</div>
        <img src="{{this.image}}" width="300">
      </div>
      <br />
      <div class="column is-three-quarters">
        <div id="book-title-current" class="title is-2"> {{this.bookTitle}} </div>
        <div
          id="author-name-current"
          class="subtitle is-4"
        >{{this.author}}</div>
        <br />
        <p class="subtitle is-5">Discussion Date:</p>
        <div
          id="discussion-date-current"
          class="title is-5"
        >{{this.discussionDate}}</div>
        <br />
        <p class="subtitle is-5">Description:</p>
        <div
          id="description-current"
          class="title is-5"
        >{{this.description}}</div>
      </div>
    </div>
  {{/each}}

</section>