<link rel="stylesheet" href="./style.css" />
<section class="section has-background-link-light">
  <div id="top-panel" class="columns">
    <div class="column is-one-quarter has-text-link">
      <a href="/books">
        <h1 class="title is-size-1">
          Book Club
        </h1>
      </a>
      <h1 class="subtitle is-size-3">
        Month: {{monthIndex}}
      </h1>
      <a href="/sessions/new">
        <button class="button is-medium is-link">
          <p>
            Suggestions
          </p>
        </button>
      </a>
    </div>
    <div id="main-container" class="column is-three-quarters tile is-ancestor">
      <a href="/books">
        <button class="button is-medium is-link">
          <p>
            <
          </p>
        </button>
      </a>
      {{#each books}}
        <div class="books column is-2">
          <a href="/books/more?selectedBook={{this._id}}">
            <img class="card" src="/{{this.bookCover}}" width="100px" />
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</section>
<br />
<section class="section">
  <div id="main-panel" class="columns">
    <div d="book-image-current" class="title column is-one-quarter">
      <img src="/{{bookContent.bookCover}}" width="300" />
    </div>
    <br />
    <div class="column is-three-quarters">
      <div id="book-title-current" class="title is-2">
        {{bookContent.bookTitle}}
      </div>
      <div id="author-name-current" class="subtitle is-4">
        {{bookContent.author}}
      </div>
      <br />
      <p class="subtitle is-5">
        Discussion Date:
      </p>
      <div id="discussion-date-current" class="title is-5">
        {{bookContent.discussionDate}}
      </div>
      <br />
      <p class="subtitle is-5">
        Description:
      </p>
      <div id="description-current" class="title is-5">
        {{bookContent.description}}
      </div>
    </div>
  </div>
</section>
