<section class="section">
  <div id="main-panel" class="columns">
    <div d="book-image-current" class="title column is-one-quarter">
      <img src="/{{bookContent.bookCover}}" width="300" />
    </div>
    <br />
    <div class="column is-three-quarters">
      <div id="book-title-current" class="title is-2">
        {{bookContent.bookTitle}}
      </div>
      <div id="author-name-current" class="subtitle is-4">
        {{bookContent.author}}
      </div>
      <br />
      <p class="subtitle is-5">
        Suggested by
        {{session.user.userName}}:
      </p>
      <div id="reason" class="title is-5">
        {{bookContent.reason}}
      </div>
      <form id="select-form" method="post" action="/books/suggestions">
        <div class="field has-addons">
          <div class="control">
            <div class="select">
              <select name="month">
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
              </select>
            </div>
          </div>
          <div class="control">
            <button type="submit" class="button is-warning">Set</button>
          </div>
        </div>
      </form>
      <form id="delete-form" method="post" action="/books/delete">
        <div class="control">
          <button type="submit" class="button is-warning">Delete</button>
        </div>
      </form>
      <p class="subtitle is-5">
        Description:
      </p>
      <div id="description-current" class="title is-5">
        {{bookContent.description}}
      </div>
    </div>
  </div>
</section>