<section class="section has-background-warning-light">
  <div id="top-panel" class="columns">
    <div class="column is-3 has-text-link">
      <a href="/books"><h1 class="title is-size-1">Book Club</h1></a>
      <h1 class="subtitle is-size-3">Suggested:</h1>
  {{!-- <form action='/sessions?_method=DELETE' method='POST'>
    <input class="button is-medium is-link" type="submit" value="Log Out">
  </form> --}}
      <div class="books column is-2">
        <a href="/books/new"><button class="button is-medium is-warning"><p>+ book</p></button></a>
      </div>
    </div>
    <div id="main-container" class="column is-9 tile is-ancestor">
      {{!-- <div class="column is-1">
        <button class="button is-warning">
          <
        </button>
      </div> --}}
      {{#each books}}
        <div class="previous books column is-2">
          <a href="/books/suggestions?selectedBook={{this._id}}">
            <img class="card" src="/{{this.bookCover}}" width="100px" />
          </a>
        </div>
      {{/each}}
      <div class="column is-1">
        {{!-- <button class="next button is-warning">
          >
        </button> --}}
      </div>
    </div>
</section>
<br />
<section class="section">
  <div id="main-panel" class="columns">
    <div d="book-image-current" class="title column is-one-quarter">
      <img src="/{{bookContent.bookCover}}" width="300" />
    </div>
    <br />
    <div class="column is-three-quarters">
      <div id="book-title-current" class="title is-2">
        {{bookContent.bookTitle}}
      </div>
      <div id="author-name-current" class="subtitle is-4">
        {{bookContent.author}}
      </div>
      <br />
      <p class="subtitle is-5">
        Suggested by {{session.user.userName}}:
      </p>
      <div id="reason" class="title is-5">
        {{bookContent.reason}}
      </div>
            <div class="field has-addons">
        <div class="control">
          <div class="select">
            <select name="month">
              <option value="Argentina">January</option>
              <option value="Bolivia">February</option>
              <option value="Brazil">March</option>
              <option value="Chile">April</option>
              <option value="Colombia">May</option>
              <option value="Ecuador">June</option>
              <option value="Guyana">July</option>
              <option value="Paraguay">August</option>
              <option value="Peru">September</option>
              <option value="Suriname">October</option>
              <option value="Uruguay">November</option>
              <option value="Venezuela">December</option>
              <option value="Venezuela"><strong>Delete suggestion</strong></option>
            </select>
          </div>
        </div>
        <div class="control">
          <button type="submit" class="button is-warning">Choose</button>
        </div>
      </div>
      <p class="subtitle is-5">
        Description:
      </p>
      <div id="description-current" class="title is-5">
        {{bookContent.description}}
      </div>

    </div>
  </div>
</section>
