<header>
  {{#if addBookButton}}
  <section class="section has-background-success-light">
  {{else}}
  <section class="section has-background-link-light">
  {{/if}}
    <div class="container">
      <div id="top-panel" class="columns">
        <div class="column is-one-quarter">
          <a href="/books">
            <h1 class="title is-size-1 has-text-weight-light">
              Book Club
            </h1>
          </a>
          {{#if suggestionsButton}}
          <h1 class="subtitle is-size-4">
            <a href="books/readinglist">
              <p>{{getCurrentYear}} Reading List</p>
            </a>
          </h1>
          <div class="field is-grouped">
            <div class="field control">
              <a href="/books/suggestions">
                <button class="button is-link">
                  <p>
                    Next read
                  </p>
                </button>
              </a>
            </div>
            <div class="field control">
              <form action="/sessions?_method=DELETE" method="POST">
                <input class="button is-link" type="submit" value="Log Out" />
              </form>
            </div>
          </div>
          {{else if readingList}}
          <h1 class="subtitle is-size-4">
              <p>{{getCurrentYear}} Reading List</p>
          </h1>
          {{else if addBookButton}}
          <h1 class="subtitle is-size-4">
            Next read...
          </h1>
          <div class="field is-grouped">
            <div class="field control">
              <a href="/books/new">
                <button class="button is-success">
                  <p>
                    + Book
                  </p>
                </button>
              </a>
            </div>
            <div class="field control">
              <form action="/sessions?_method=DELETE" method="POST">
                <input class="button is-success" type="submit" value="Log Out" />
              </form>
            </div>
          </div>
          {{else}}
          <div>
            <h1 class="subtitle is-size-4">
              <p><a href="/sessions/new">Log in / </a><a href="/users/new">Sign up</a></p>
            </h1>
          </div>
          {{/if}}
          {{#if globalUser}}
          <p>Logged in as {{globalUser.userName}}.</p>
          {{else}}
          <br>
          <p>Not logged in.</p>
          {{/if}}
    </div>  
      <div id="main-container" class="column is-three-quarters tile is-ancestor">
        {{#previousButton}}
          <form id="books-form" method="get" action="/books">
            <button class="arrowbutton button is-link">
              <
            </button>
          </form>
        {{/previousButton}}
        {{#if moreBooks}}
          {{#each books}}
          <div class="books column is-2">
            <a href="/books/more?selectedBook={{this._id}}">
              <img class="card" src="https://drive.google.com/uc?id={{this.bookCover}}" width="100" alt="Google Drive Image" />
            </a>
          </div>
          {{/each}}
        {{else if readingList}}
        {{else}}
        {{#each books}}
          <div class="books column is-2">
            <a href="/books/?selectedBook={{this._id}}">
              <img class="card" src="https://drive.google.com/uc?id={{this.bookCover}}" width="100" alt="Google Drive Image" />
            </a>
          </div>
        {{/each}}
        {{/if}}
        {{#nextButton}}
          <form id="moreBooks-form" method="get" action="/books/more">
            <button class="button arrowbutton is-link">
              >
            </button>
          </form>
        {{/nextButton}}
      </div>
    </div>
  </section>
</header>