<header>
  <section class="section has-background-success-light">
    <div class="container">
      <div id="top-panel" class="columns">
        <div class="column is-one-quarter">
          <a href="/books">
            <h1 class="title is-size-1 has-text-weight-light">
              Book Club
            </h1>
          </a>
          {{#if addBookButton}}
          <h1 class="subtitle is-size-4">
            Next read...
          </h1>
          <div class="field is-grouped">
            <div class="field control">
              <a href="/books/new">
                <button class="button is-success">
                  <p>
                    + Book
                  </p>
                </button>
              </a>
            </div>
            <div class="field control">
              <form action="/sessions?_method=DELETE" method="POST">
                <input class="button is-success" type="submit" value="Log Out" />
              </form>
            </div>
          </div>
          {{else}}
          <h1 class="subtitle is-size-3">
            Suggest a book
          </h1>
          {{/if}}
          {{#if session.user}}
          <p>Logged in as {{session.user.userName}}.</p>
          {{else}}
          <p>Not logged in.</p>
          {{/if}}
      </div>
      <div id="main-container" class="column is-three-quarters tile is-ancestor">
      {{#each books}}
        <div class="books column is-2">
          <a href="/books/suggestions?selectedBook={{this._id}}">
            <img class="card" src="https://drive.google.com/uc?id={{this.bookCover}}" width="100" alt="Google Drive Image" />
          </a>
        </div>
      {{/each}}
      </div>
    </div>
  </section>
</header>